/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:"Poppins",sans-serif;

    background:#f8fafc;

    color:#1f2937;

    line-height:1.6;

}

a{

    text-decoration:none;

    color:inherit;

}

img{

    max-width:100%;

    display:block;

}

button{

    cursor:pointer;

    font-family:inherit;

    transition:.3s;

}

input,
textarea,
select{

    font-family:inherit;

    outline:none;

}

.container{

    width:90%;

    max-width:1200px;

    margin:auto;

}